# ===============================
# Build
# ===============================
target/
build/
out/

# ===============================
# Maven
# ===============================
.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# ===============================
# Logs
# ===============================
*.log
logs/

# ===============================
# Arquivos temporários
# ===============================
*.tmp
*.temp
*.swp
*.swo

# ===============================
# IDEs
# ===============================

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.project
.classpath
.settings/

# VSCode
.vscode/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ===============================
# Sistema operacional
# ===============================

# Linux
*~

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ===============================
# Arquivos de ambiente
# ===============================
.env
.env.local
.env.*

# ===============================
# Banco local
# ===============================
*.db
*.mv.db
*.trace.db

# ===============================
# Arquivos de teste e cobertura
# ===============================
coverage/
*.coverage